<h1> Salutations ! </h1>
<p >Enregistre toi ici (plz) :</p>



<!-- 1ER FORMULAIRE
<form action="/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Name :
	<input type="text" name="username"><br><br>
	Email :
	<input type="text" name="email"><br><br>
	Bio :
	<input type="text" name="bio">
	<input type="submit" value="Submit">
</form>
-->


<!-- 2EME FORMULAIRE
<%= form_tag url_for(action: 'create'), method: "post" do %>

<%= label_tag 'Name' %>
<%= text_field_tag 'username' %>
<br /> <br />

<%= label_tag 'Email' %>
<%= text_field_tag 'email' %>
<br /> <br />

<%= label_tag 'Bio' %>
<%= text_field_tag 'bio' %>
<br /> <br />

<%= submit_tag "Submit" %>

<% end %> -->

<%= form_for @user, url: {action: 'create'} do |f| %>
name : <%= f.text_field :username, placeholder: 'User Name' %><br/>
email : <%= f.text_field :email, placeholder: 'exemple@mail.com' %><br/>
bio : <%= f.text_area :bio, size: "30x10", placeholder: 'j aime les licornes' %><br/>
<%= f.submit %>
<% end %>
